<div id="sitecontent" style="padding:5px;font-size:14px;">

	<!-- German version -->
	<h2>Nutzungsbedingungen für das Gästebuch</h2>
	Mit einem Eintrag in dieses Gästebuch erkennen Sie die folgenden Nutzungsbedingungen an.<br />
	<br />
	<b>1.</b> Die Gästebuch-Einträge sind öffentlich sichtbar und verfügbar. Das Gästebuch wird durch den Administrator moderiert.<br />
	<br />
	<b>2.</b> Unmittelbar nach Ihrem Eintrag in das Gästebuch ist Ihre Nachricht unter Umständen noch nicht für alle sichtbar. 
	Die entgültige Veröffentlichung erfolgt möglicherweise erst nach einer Prüfung durch den Administrator.<br />
	<br />
	<b>3.</b> Bitte beachten Sie, dass die allgemein üblichen Umgangsformen und Etikette gewahrt bleiben. Einträge mit pornographischen, sexuellen, rassistischen, gewaltverherrlichenden Inhalten oder Inhalte, die Personen und Personengruppen beleidigen oder diskriminieren sind gesetzeswidrig und dürfen nicht veröffentlicht werden. 
	Diese Einträge dürfen ebenfalls keine Links zu Seiten mit oben genannten Inhalten enthalten. Einträge, die gegen diese Nutzungsbedingungen verstoßen, werden ohne Erklärung gelöscht. In diesem Zusammenhang erklären Sie sich bereit, dass Ihre IP-Adresse zur Entlastung des Gästebuchbetreibers gespeichert wird. Das geschieht automatisch.<br />
	<br />
	<b>4.</b> Der Missbrauch des Gästebuchs als Werbeplattform ist nicht erlaubt. Die Nennung von Herstellern, Produkten, Dienstleistern und Websites ist zulässig, wenn sie nicht dem reinen Werbezweck dienen. Einträge, die ausschließlich Werbezwecken dienen, werden aus dem Gästebuch entfernt.<br />
	<br />
	<b>5.</b> Es kann nicht garantiert werden, dass das Gästebuch permanent verfügbar ist. Der Service kann ohne Vorwarnung beendet werden.
	<br /><br />
	
	<!-- English version -->
	<h2>Terms of use for this guestbook</h2>
	By submitting an entry to this guestbook you accept the terms of use below.<br />
	<br />
	<b>1.</b> The guestbook entries are visibile for the public. The guestbook is moderated by the administrator.<br />
	<br />
	<b>2.</b> Immediately after your entry in the guestbook your message is maybe not visible. 
	The final publication will be made after a review by an administrator.<br />
	<br />
	<b>3.</b> Please observe the generally accepted manners and etiquette. 
	Entries with pornographic, sexual, racist, violent content, or content that offend or discriminate people and groups is unlawful and must not be published. 
	These entries may also contain links to sites with content mentioned above. Posts that violate these Terms of Service will be deleted without explanation. 
	In this regard, you agree that your IP address is stored to help relieve the guestbook operator. This is done automatically.<br />
	<br />
	<b>4.</b> The abuse of the guestbook as an advertising platform is not allowed. The mention of vendors, products, services and websites is allowed if it does not serve a purely commercial purpose. 
	Entries that are exclusively devoted for advertising will be removed from the guestbook.<br />
	<br />
	<b>5.</b> There is no guarantee that the guestbook is always available. The service may be terminated without any warning.
	<br /><br />	
</div>